@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #EDFFF8;
    font-family: Poppins;
}


.content-block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    --box-height:700px;
    --box-width:750px;
}

.text-holder {
    background-color: white;
    width: var(--box-width);
    height: var(--box-height);
    border-radius: 20px 0 0 20px;
}

.text-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 5rem 7rem;
}

.text-wrapper h1 {
    font-size: 60px;
}

.text-wrapper p {
    margin-top: 0.2rem;
    color: rgb(152, 152, 152);
    font-size: 1.2em;
}

.text-wrapper p:nth-child(4) {
    margin-left: 6rem;
}

.text-wrapper form {
    display: flex;
    flex-direction: column;
}

.text-wrapper label {
    margin-top: 20px;
    color: rgb(118, 118, 118);
    font-size: smaller;
}

.text-wrapper input {
    border: none;
    width: 350px;
    font-size: 0.8em;
    outline: none;
    padding: 5px 2px;
    border-bottom: 2px solid rgb(181, 181, 181);
}

.text-wrapper button {
    margin: 1rem 0rem;
    width: 350px;
    height: 50px;
    font-size: 1em;
    border-radius: 10px;
    border: none;
    box-shadow: 5px 5px 10px rgb(184, 184, 184);
}

.text-wrapper form button {
    background-image:linear-gradient(to bottom, #FF9900, #FDC064);
    color: white;
}

.google-button {
    background-color: rgb(244, 243, 243);
    color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.google-button img {
    background-color: rgb(244, 243, 243);
    color: black;
    width: 10%;
    margin-right: 1rem;
}

.image-holder {
    background-color: #72CAAA;
    width: var(--box-width);
    height: var(--box-height);
    border-radius: 0 20px 20px 0;
}   

.image-wrapper {
    display: flex;
    flex-direction: column;
    margin: 3rem 4rem;
}

.image-wrapper h1 {
    color: #FFC672;
}

.description {
    color: white;
}

.image-wrapper img {
    width: 106%;
}

.center-box {
    margin-top: 5rem;
    display: flex;
    height: 20px;
    align-items: center;
    justify-content: center;
}

.redirect {
    color: white;
    font-size: 0.9em;
}

.redirect a {
    text-decoration: none;
    color: #FFC672;
} 

.redirect a:hover {
    color: #feb951;
}