<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Neighbour Network</title>
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/8.2.3/firebase-app.js"></script>

    <!-- TODO: Add SDKs for Firebase products that you want to use
        https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="https://www.gstatic.com/firebasejs/8.2.3/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.3/firebase-analytics.js"></script>

    <script>
    // Your web app's Firebase configuration
    // For Firebase JS SDK v7.20.0 and later, measurementId is optional
    var firebaseConfig = {
        apiKey: "AIzaSyBjwLxS82uYJJUbtOosdTZDTDn0dzfodSs",
        authDomain: "neighborhood-network.firebaseapp.com",
        projectId: "neighborhood-network",
        storageBucket: "neighborhood-network.appspot.com",
        messagingSenderId: "429038874940",
        appId: "1:429038874940:web:b956fef4feef9ec77b2e39",
        measurementId: "G-CNHTE4R74N"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
    firebase.analytics();
    </script>
</head>
<body>
    {{content}}
    <button onclick="window.location='/signup.html'">Register</button>
    <button onclick="window.location='/login.html'">Log In</button>
    <button id="logout">Logout</button>
    <script>
        let profile = {{content|safe}};
        if (!profile) {
            document.cookie="id_token=;expires=Thu, 01 Jan 1970 00:00:01 GMT";
        }

        const logoutButton = document.getElementById("logout");
        logoutButton.onclick = (e) => {
            document.cookie="id_token=;expires=Thu, 01 Jan 1970 00:00:01 GMT";
            firebase.auth().signOut()
            .then(res=>{
                console.log(res)
                console.log('Logged out')
                location.href = '/'
            })
            .catch(error=>console.error(error));
        }
    </script>
</body>
</html>