<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Neighbour Network</title>
    <link rel="stylesheet" href="css/landingPage.css">
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/8.2.3/firebase-app.js"></script>

    <!-- TODO: Add SDKs for Firebase products that you want to use
        https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="https://www.gstatic.com/firebasejs/8.2.3/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.3/firebase-analytics.js"></script>

    <script>
    // Your web app's Firebase configuration
    // For Firebase JS SDK v7.20.0 and later, measurementId is optional
    var firebaseConfig = {
        apiKey: "AIzaSyBjwLxS82uYJJUbtOosdTZDTDn0dzfodSs",
        authDomain: "neighborhood-network.firebaseapp.com",
        projectId: "neighborhood-network",
        storageBucket: "neighborhood-network.appspot.com",
        messagingSenderId: "429038874940",
        appId: "1:429038874940:web:b956fef4feef9ec77b2e39",
        measurementId: "G-CNHTE4R74N"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
    firebase.analytics();
    </script>
</head>
<body>
    <nav>
        <h1 class="logo"><a href="">Neighbour Network</a></h1>
        <p><a href="/">Home</a></p>
        <p><a href="/events.html">Events</a></p>
        <p><a href="posts.html">Posts</a></p>
        <p id="user" class="hidden"></p>
        <button id="signup" class="signup-button"><a href="signup.html">Sign Up</a></button>
        <button id="login" class="login-button"><a href="login.html">Login</a></button>
        <button id="logout" class="hidden"><a>Logout</a></button>
    </nav>

    <section class="first-section">
        <div class="content-holder">
            <p class="section-one-header">Let's Get<br> Through This<br><b>Together</b></p>
            <p class="section-one-desc">Connecting with those around you is the first step in changing the world</p>
            <button><a href="signup.html">Get Started Today</a></button>
        </div>

        <img src="assets/landingpage.svg" alt="Landing Page Neighbourhood SVG">
    </section>

    <section class="second-section">
        <div class="stats">
            <h1># of Communities Involved</h1>
            <div class="num">
                <img src="assets/home.png" alt="House Image">
                <h2>{{community_count}}</h2>
            </div>
        </div>
        <div class="mission">
            <h1>Our Mission</h1>
            <p>We aspire to connect the neighbourhoods of the world in order to create more friendly, connected communities. The ability to easily interact with people living around you can open up new opportunities, so we designed our website to help you do just that. Neighbour Network can also be used for people in need of help as it provides the option to make grocery and medicine purchase requests. Ultimately, we belive in making change through small steps, such as buying food for your neighbors, setting up food drives, and even discussing mental health issues to make sure your community is doing all right.</p>
        </div>
    </section>

    <script src="js/landingPage.js"></script>
    <script>
        const userLabel = document.getElementById("user");
        const logout = document.getElementById("logout");
        const login = document.getElementById("login");
        const signup = document.getElementById("signup");

        let profile = {{content|safe}};
        console.log(profile);
        if (!profile) {
            document.cookie="id_token=;expires=Thu, 01 Jan 1970 00:00:01 GMT";
        } else {
            userLabel.innerText = profile.email;
            login.classList.add("hidden");
            signup.classList.add("hidden");
            userLabel.classList.remove("hidden");
            logout.classList.remove("hidden");
        }

        const logoutButton = document.getElementById("logout");
        logoutButton.onclick = (e) => {
            document.cookie="id_token=;expires=Thu, 01 Jan 1970 00:00:01 GMT";
            firebase.auth().signOut()
            .then(res=>{
                console.log(res)
                console.log('Logged out')
                location.href = '/'
            })
            .catch(error=>console.error(error));
            return false;
        }
    </script>
</body>
</html>